<header>
  <mat-toolbar class="navbar">
      <a
        mat-flat-button
        [routerLink]="['profile']"
        color="primary"
        aria-label="Example icon button with a person icon"
      >
        <mat-icon>person</mat-icon>
        Perfil
      </a>

      <a
        mat-flat-button
        [routerLink]="['home']"
        color="accent"
        aria-label="Example icon button with a home icon"
      >
        <mat-icon>home</mat-icon>
        Casas
      </a>

      <a
        mat-button
        [routerLink]="['home']"
        aria-label="Example icon button with a home icon"
      >
        <mat-icon>home</mat-icon>
        HomeWorks
      </a>

      <a
        mat-flat-button
        [routerLink]="['task']"
        color="warn"
        aria-label="Example icon button with a list_alt icon"
      >
        <mat-icon>list_alt</mat-icon>
        Tareas
      </a>

      <a
        mat-flat-button
        href="https://github.com/Angelito9827/HomeWorks-front"
      >
        <mat-icon>github</mat-icon>
        Github
      </a>
  </mat-toolbar>
</header>
